* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-right{
background-image: url("./assets/Home/Graduation with girl.jpg"), radial-gradient(circle, transparent, #080f0f 70%);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: darken;
border-radius: 50%;
}

.campus-image{
  height: 500px;
}

@media screen and (max-width: 1480px) {
  html{
    font-size: 85%;
  }
}

@media screen and (max-width: 1280px) {
  html{
    font-size: 80%;
  }
}

@media screen and (max-width: 1024px) {
  html{
    font-size: 70%;
  }
}

@media screen and (max-width: 768px) {
  html{
    font-size: 60%;
  }
}


.offer-right{
  background-image: url('./assets/offer//free-time-students-bachelor-s-campus-life-rhythm-five-friendly-students-are-walking.jpg');
  background-size: cover;
  background-position: center;
}
